ul {
	list-style-type: none;
}

li > span {
	display: inline-block;
}

li > span:nth-child(1) {
	width: 50px;
}
li > span:nth-child(2) {
	width: 200px;
}
li > span:nth-child(3) {
	width: 100px;
}
